.background-particles {
  z-index: -7000 !important;
  opacity: .5;
}

img.icon, svg.icon {
  height: 2.5rem;
  padding-inline: 10px;
  opacity: 15%;
  box-shadow: #1f223591 0px 0px 25px;
  padding: 10px;
  border-radius: 10px;
}

img.icon:hover, svg.icon:hover {
  opacity: 60%;
}

.col {
  width: 100%;

}

.profile-container {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  height: 10%;
  min-height: fit-content;
  margin: 0;
}
.profile-parent {
  display: flex;
  align-items: center;
  color: aliceblue;
}

.profile-details{
  width: 40vw;
}

.profile-details-name {
  font-size: 24px;
  font-family: "Poppins SemiBold";
}
.profile-details-role {
  display: flex;
  flex-direction: column;
  margin: 14px 0 24px 0;
}
.profile-details-role h1 span{
  font-size: 40px;
  color: hsl(0, 0%, 100%) !important;
  font-size: 1.5em;
  white-space: nowrap;
  font-weight: 500;
  text-shadow: #00000091 0px 0px 25px;
}
.primary-text {
  color: var(--white);
  text-shadow: #00000091 0px 0px 25px;
  font-weight: 600;
  font-size: larger;
}
.highlighted-text {
  color: rgb(179, 179, 179);
  font-weight: 600;
  text-shadow: none;
}
.profile-role-tagline {
  font-size: 19px;
  margin: 5px 0 0 0;
}

.profile-options {
  display: flex;
  justify-content: space-evenly;
}

.profile-options .highlighted-btn {
  margin: 0 0 0 28px;
  border-radius: 12px solid white;
}
.profile-options .highlighted-btn:hover {
  margin: 0 0 0 28px;
  background-color: cornsilk;
  color: #111;
}
.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0 1px 0px 0px var(--white);
  border-radius: 50%;
  height: 380px;
  width: 380px;
  margin: 0 0px 0 100px;
}
.profile-picture-background {
  height: 92%;
  width: 92%;
  opacity: 85%;
  border-radius: 50%;
  background-image: url('../Assets/Images/me.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.profile-picture-background:hover {
  opacity: 100%;
  transform: scale(1.07);
  transition: 1s ease-out;
}

.colz .colz-icon i {
  color: white;
  padding: 8px;
  padding-left: 0px;
}
.colz .cols-icon i:hover {
  transform: scale(1.5);
}

/*IPAD PRO RESPONSIVENESS*/
@media only screen and (max-width: 1110px) {
  .profile-picture {
    margin: 0 0px 0 80px;
  }
  .profile-details-name {
    font-size: 20px;
  }
  .profile-details-role .primary-text {
    font: 12px;
  }
  .profile-options .btn {
    width: 120px;
    padding: 11px 0;
    z-index: 700;
  }
  .profile-details-role h1 span{
    white-space: unset;
  }
}
@media only screen and (max-width: 910px) {
  .profile-picture {
    margin: 0 0 0 4px;
    height: 320px;
    width: 320px;
  }
}
@media only screen and (max-width: 810px) {
  .profile-picture {
    margin: 0 !important;
  }
  .profile-parent {
    flex-direction: column-reverse;
    margin: 40px 0 0 0;
  }
  .profile-options {
    display: flex;
    justify-content: space-between;
  }
  .proflie-details {
    margin: 25px 0 0;
  }
  .profile-options .highlighted-btn {
    margin: 0 !important;
  }
  .profile-details-name,
  .profile-details-role {
    text-align: center;
  }
}

@media only screen and (max-width: 810px) {
  button {
    height: 55px;
    width: 155px !important;
    margin-inline: 10px;
  }
}

@media only screen and (max-width: 375px) {
  .profile-picture {
    height: 275px;
    width: 275px;
    margin-top: -90px;
  }
  .proflie-details {
    width: 95%;
  }
}
